/* WORK - make the demo appropriate for smaller screens */
.main {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

#pageTitle {
  margin-top: 0px;
}
