/* WORK - make the demo appropriate for smaller screens */
#main {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 44%;
  left: 49.5%;
  transform: translate(-50%, -50%);
}

#title {
  margin-top: 0px;
}

#text {
  width: 500px;
  height: 250px;
  border: 1px solid grey;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  overflow: auto;
  border-radius: 6px;
}

#button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
