<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>Speech To Element</title>
  <link rel="stylesheet" href="indexStyle.css" />
  <!-- Uncomment this when using Azure -->
  <!-- <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script> -->
</head>
<body>
  <h1 id="title">Speech To Element Development</h1>
  <div id="text" contenteditable="true"></div>
  <button id="button">Start</button>
  <div id="error">Error, check the console for more details.</div>
  <script type="module">
    import SpeechToElement from './src/index';
    const textEl = document.getElementById('text');
    const buttonEl = document.getElementById('button');
    const errorEl = document.getElementById('error');
    buttonEl.onclick = () => {
      errorEl.style.display = 'none';
      // WebSpeech
      SpeechToElement.toggle('webspeech', {
        element: textEl,
        onStart: () => {
          buttonEl.innerText = 'Stop';
        },
        onStop: () => {
          buttonEl.innerText = 'Start';
        },
        onError: () => {
          errorEl.style.display = 'block';
          buttonEl.innerText = 'Start';
        },
      });
      // Azure
      // set your REGION and SUBSCRIPTION-KEY
      // SpeechToElement.toggle('azure', {
      //   region: 'eastus',
      //   subscriptionKey: '2473441130e84b6c84457e697ce0a108',
      //   autoLanguages: ['en-US', 'fr-FR', 'de-DE', 'es-ES'],
      //   element: textEl,
      //   onStart: () => {
      //     buttonEl.innerText = 'Stop';
      //   },
      //   onStop: () => {
      //     buttonEl.innerText = 'Start';
      //   },
      //   onError: () => {
      //     errorEl.style.display = 'block';
      //     buttonEl.innerText = 'Start';
      //   },
      // });
    };
  </script>
</body>
</html>
