body {
  font-family: sans-serif;
  text-align: center;
}

#title {
  margin-top: 40px;
}

#text {
  text-align: left;
  width: 50%;
  height: 200px;
  border: 1px solid grey;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding: 3px;
}

#button {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 30px;
  font-size: 18px;
}

#error {
  display: none;
  margin-top: 20px;
  font-size: 18px;
  color: red;
}
